body {
  background-color: white;
  text-align: center;
}

h1 {
  font-family: Arial, sans-serif;
  color: #ccc;
  margin-bottom: 20px;
}

svg {
  width: 100%; /* otherwise svg always occupies whole screen */
}

table {
  font-size: x-large;
  font-weight: bold;
}

td,th {
  text-align: center;
}

#graphic {
  width: 80%;
}

#controls {
  margin-top: 20px;
  margin-bottom: 20px;
}

#truthtable {
  width: 20%;
  padding: 40px;
}

/* responsive table layout */
.responsive-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.responsive-table-cell {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}

.responsive-table-2-col > .responsive-table-cell {
    width: 50%;
}

.responsive-table-3-col > .responsive-table-cell {
    width: 33.33%;
}

@media all and (max-width: 768px) {
    .responsive-table-collapse {
        display: block;
    }
    .responsive-table-collapse > .responsive-table-cell {
        width: 100% !important;
    }
}
